[submodule "golde584_dtOF_2018"]
	path = golde584_dtOF_2018
	url = https://github.com/elenaleegold/golde584_dtOF_2018.git
	branch = master
[submodule "kralz920_ofDT_2018"]
	path = kralz920_ofDT_2018
	url = https://github.com/zachkrall/kralz920_ofDT_2018.git
	branch = master
[submodule "wangp701_dtOF_2018"]
	path = wangp701_dtOF_2018
	url = https://github.com/Eraince/wangp701_dtOF_2018.git
	branch = master
[submodule "dongy987_dtOF_2018"]
	path = dongy987_dtOF_2018
	url = https://github.com/yvonne-dong/dongy987_dtOF_2018.git
	branch = master
[submodule "zhany016_dtOF_2018"]
	path = zhany016_dtOF_2018
	url = https://github.com/lanzhang76/zhany016_dtOF_2018.git
	branch = master
[submodule "chenp886_dtOF_2018"]
	path = chenp886_dtOF_2018
	url = https://github.com/cpingni/chenp886_dtOF_2018.git
	branch = master
[submodule "wangs641_dtOF_2018"]
	path = wangs641_dtOF_2018
	url = https://github.com/wangs641/wangs641_dtOF_2018.git
	branch = master
[submodule "edeln591_dtOF_2018"]
	path = edeln591_dtOF_2018
	url = https://github.com/Nedelstein/edeln591_dtOF_2018.git
	branch = master
[submodule "sheny082_dtOF_2018"]
	path = sheny082_dtOF_2018
	url = https://github.com/cocosy/sheny082_dtOF_2018.git
	branch = master
[submodule "scans421_dtOF_2018"]
	path = scans421_dtOF_2018
	url = https://github.com/skiprox/scans421_dtOF_2018.git
	branch = master
[submodule "mahma952_dtOF_2018"]
	path = mahma952_dtOF_2018
	url = https://github.com/alizamahmood2/mahma952_dtOF_2018.git
	branch = master
[submodule "zhour051_dtOF_2018"]
	path = zhour051_dtOF_2018
	url = https://github.com/Ran-Zhou/zhour051_dtOF_2018.git
	branch = master
[submodule "liny465_dtOF_2018"]
	path = liny465_dtOF_2018
	url = https://github.com/kimmyliny465/liny465_dtOF_2018.git
	branch = master
[submodule "gut677_dtOF_2018"]
	path = gut677_dtOF_2018
	url = https://github.com/TingweiGu/gut677_dtOF_2018.git
	branch = master
[submodule "packj073_dtOF_2018"]
	path = packj073_dtOF_2018
	url = https://github.com/jonpackles/packj073_dtOF_2018.git
	branch = master
[submodule "jalaf552_dtOF_2018"]
	path = jalaf552_dtOF_2018
	url = https://github.com/gollpar/jalaf552_dtOF_2018.git
	branch = master
[submodule "huoa627_dtOF_2018"]
	path = huoa627_dtOF_2018
	url = https://github.com/tinsleyfok/huoa627_dtOF_2018.git
	branch = master
